<section class="bg-slate-950 lg:grid lg:h-screen lg:place-content-center">
  <div class="mx-auto w-screen max-w-7xl px-4 py-16 sm:px-6 sm:py-24 md:grid md:grid-cols-2 md:items-center md:gap-4 lg:px-8 lg:py-32">
    <div class="max-w-prose text-left">
      <h1 class="text-4xl font-bold text-white sm:text-5xl">
        Hola, soy Iván Aguirre, 
        <strong class="text-blue-500"> Desarrollador de Software </strong>
        especializado en soluciones Full-Stack.
      </h1>

      <p class="mt-4 text-base text-slate-300 sm:text-lg/relaxed">
        Apasionado por la ingeniería de software y la gestión de negocios. Enfocado en el análisis, liderazgo y la aplicación de mejores prácticas para crear productos robustos.
      </p>

      <div class="mt-4 flex gap-4 sm:mt-6">
        <a class="inline-block rounded border border-blue-600 bg-blue-600 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-blue-700" href="#proyectos">
          Ver Proyectos
        </a>

        <a class="inline-block rounded border border-blue-600 px-5 py-3 font-medium text-blue-500 shadow-sm transition-colors hover:bg-slate-900" href="#contacto">
          Contactar
        </a>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768" class="mx-auto hidden max-w-md text-blue-500 md:block">
      <defs>
        <clipPath id="circleView">
          <circle cx="512" cy="384" r="200" />
        </clipPath>
      </defs>

      <g fill="none" fill-rule="evenodd">
        <circle cx="512" cy="384" r="210" fill="currentColor" opacity="0.1" />

        <image 
          width="400" 
          height="400" 
          x="312" 
          y="184" 
          href="assets/images/perfil.jpg" 
          clip-path="url(#circleView)"
          preserveAspectRatio="xMidYMid slice"
        />
        
        <g fill="currentColor" opacity="0.5">
            <path d="M555.886 337.572..." fill="currentColor"></path>
        </g>
      </g>
    </svg>
  </div>
</section>

